@model IEnumerable<otr_project.Models.ItemModel>

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Rambla | Items Listed";
    ViewBag.AccountPageTitle = "Listed Items";
}

<!--div class="row-fluid">
    <div class="span12 list_tab">
        <ul class="nav nav-tabs">
            <li id="active_listings" class="active"><a href="#">Active Listings</a></li>
            <li id="other_listings" ><a href="#">Other Listings</a></li>
        </ul>
    </div>
</div-->

<div class="row-fluid">
    <div class="span12 list_body">
        <div class="loading_text row-fluid row_item">
            Loading ... 
        </div>
        <div id="listed_list">
            @{Html.RenderPartial("ItemsList", Model);}
        </div>
    </div>
</div>

<!--script type="text/javascript">
    var active = "";

    $(function () {
        $("#active_listings").click(function () {
            active = "active=true";

            $("#other_listings").removeClass("active");
            $("#active_listings").addClass("active");

            $("#listed_list").hide();
            $(".loading_text").show();

            $.post('@Url.Content("~/User/Items")', current, function (data) {
                $(".loading_text").hide();
                $('#listed_list').html(data);
                $('#listed_list').show();
            });
        });

        $("#other_listings").click(function () {
            active = "active=false";

            $("#active_listings").removeClass("active");
            $("#other_listings").addClass("active");

            $("#listed_list").hide();
            $(".loading_text").show();

            $.post('@Url.Content("~/User/Items")', current, function (data) {
                $(".loading_text").hide();
                $('#listed_list').html(data);
                $('#listed_list').show();
            });
        });
    });
</script-->