













/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* Item Details page
----------------------------------------------------------------------------------------------------*
#Item_Details_Title {
	/* Doing some hacks here (not proud of it) *
	padding: 20px 0 20px 0;
	margin-left: -10px - 1px;
	width: @grid_container_default_width;
}

#Item_Details_Title h1{
	margin-left: 20px;
}

#map_container {
	padding: 10px 0;
}

#item_details_body_container {
	.header-container(@color-primary-one, @color-primary-one, @font-size-small, @line-height, @grid_container_default_width);
	//margin: 0 auto 0 auto;
    padding-bottom: 10px;
	border: 1px solid @color-primary-three;
	-moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.social_plugins {
	float: right;
}

#no_images {
	text-align: center;
	margin: 150px 0;
}

#item_description
{	
	margin: 30px 0 0 0;
	padding: 20px;
	-moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
	color: @color-bg;
	background-color: @color-primary-four;
}

#item_description label {
	display: block;
	margin-bottom: 10px;
}

#item_description_content {
	font-weight: normal;
	white-space: pre-line;
}

#Item_Details_Info_Box {
	margin: auto 0 auto 0;
	padding: 10px;
	text-align: center;
	color: @color-bg;
	background-color: @color-primary-four;
	-moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}

#Item_Details_Info_Box .display_label {
	font-size: @font-size;
	font-weight: normal;
}

#Item_Details_Info_Box .display_field {
	line-height: 0.67 * @line-height;
	font-size: @font-size + 1px;
}

#Item_Details_Info_Box #category_field {
	font-size: @font-size-small;
	font-weight: bold;
}

#Item_Details_Info_Box .form_label {
	margin-top: 30px;
}

#item_cost
{   
    font-family: @font-family-main;
    font-size: @font-size-very-large;
    font-weight: bold;
	display: inline-block;
	margin: 30px 0 10px 0;
    /*
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    *
}

#pickupdate, #dropoffdate {
	width: 180px;
	cursor: pointer;
}

.validation_errors {
	font-weight: normal;
	color: @color-error-light;
}
*/