.header-elements
{
    border-right-style: groove;
    border-right-width: thin;
    border-right-color: #CCCCCC;
    border-left-style: groove;
    border-left-width: thin;
    border-left-color: #CCCCCC;
    height: 79.96296691894531px;
    vertical-align: middle;
    text-align: center;
}
