<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>https://fe339cdfb05b4fc6b43da0cae1806cc4.cloudapp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>otr-project_IN_0_Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>subu</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MarketPlaceEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="otr_project.Models.MarketPlaceEntities, otr-project" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ElmahLoggingServices" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=tcp:y465ewi31q.database.windows.net,1433;Initial Catalog=ElmahLog;Integrated Security=False;User ID=SqlAdministrator@y465ewi31q;Password=awTvPzFA4JD6ozOgAIln;Connect Timeout=30;Encrypt=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ElmahLoggingServices_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:y465ewi31q.database.windows.net,1433;Database=ElmahLog;User ID=SqlAdministrator@y465ewi31q;Password=awTvPzFA4JD6ozOgAIln;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;multipleactiveresultsets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=tcp:y465ewi31q.database.windows.net,1433;Initial Catalog=RAMBLA_SQL;Integrated Security=False;User ID=SqlAdministrator@y465ewi31q;Password=awTvPzFA4JD6ozOgAIln;Connect Timeout=30;Encrypt=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:y465ewi31q.database.windows.net,1433;Database=RAMBLA_SQL;User ID=SqlAdministrator@y465ewi31q;Password=awTvPzFA4JD6ozOgAIln;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;multipleactiveresultsets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>